@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  color: #000000
  background: #fff

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none
    outline: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 15px
  box-sizing: border-box
  font-family: $default-font
  font-size: 13px
  color: #434242
  height: 41px
  width: 100%
  background: rgba(229, 229, 229, 0.49)
  border: 1px solid #CACACA

  &::placeholder
    color: #434242

  &:hover, &:focus
    outline: none
    box-shadow: none

textarea
  height: 89px
  padding: 9px 15px

.container
  max-width: 1140px
  width: 100%
  padding: 0 15px
  position: relative
  display: flex
  flex-wrap: wrap
  margin: 0 auto


.fancybox-frame
  margin: 0

.fancybox-content
  width: 100%
  border-width: 0

h1
  font-size: 24px
  width: 100%

h2
  width: 100%
  margin: 0 0 26px
  font-size: 32px

.box-text
  font-size: 13px
  line-height: 18px

  p
    margin: 0 0 60px

    &:last-child
      margin: 0

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 10px 50px
  width: fit-content
  border-radius: 50px
  font-size: 18px

.btn-white
  background: #fff
  font-size: 18px
  color: #000

  &:hover
    background: $accent
    color: #fff

.btn-accent
  background: $accent
  color: #fff
  padding: 10px 27px
  &:hover
    background: $accent2
    color: #fff


.phone
  color: #fff
  font-size: 15px
  display: flex
  align-items: center
  position: relative

  &:hover
    color: #000

.phone-icon
  display: flex
  align-items: center
  justify-content: center
  width: 13px
  height: 14px
  fill: #fff
  margin: 0 15px 0 0

.logo
  max-width: 210px
  width: 100%
  display: flex
  align-items: center

.links-white
  color: #fff
  font-size: 12px

  &:hover
    color: #000

.text-decoration
  text-decoration: underline

.svg-icon
  display: inline-block
  width: 100%
  height: 100%

.bg-pink-grey
  background: $accent

.bg-blue-grey
  background: $accent2


//header
header
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 3
  padding: 27px 0 14px
  background: rgba(247, 247, 247, 0.15)

.links-version
  padding: 0 0 0 28px


.menu
  margin: 0 auto
  display: flex
  align-items: center
  flex-wrap: wrap
  font-family: $font
  font-size: 15px

  li
    margin: 0 50px 0 0

    &:last-child
      margin: 0

    a
      color: #000000

      &:hover
        color: $accent2

.btn-burger
  display: none
  width: 20px
  height: 16px
  flex-direction: column
  align-items: center
  justify-content: space-between
  cursor: pointer

  span
    width: 100%
    background: #000
    height: 2px
    border-radius: 5px


//main
.main
  background: conic-gradient(from 174.74deg at 54.15% 37.33%, rgba(234, 180, 180, 0) 0deg, #EAB4B4 0.79deg, rgba(234, 180, 180, 0.7) 69.24deg, rgba(234, 180, 180, 0.515179) 177.97deg, rgba(234, 180, 180, 0.265555) 321.21deg, rgba(234, 180, 180, 0) 360deg), url("../img/bg1.png") no-repeat right top
    size: cover
  padding: 311px 0 207px

  .phone
    color: #fff
    margin: 15px 0 22px
    font-weight: bold
    font-size: 24px

.main-content
  max-width: 450px
  width: 100%

//.advantages
.advantages
  padding: 64px 0 54px

  .container
    align-items: flex-start
    justify-content: space-between


.advantages-item
  margin: 0 0 24px
  display: flex
  align-items: center
  font-size: 13px

  &__icon
    width: 86px
    height: 86px
    display: flex
    align-items: center
    justify-content: center
    padding: 15px
    border-radius: 50%

  &__text
    width: calc(100% - 86px)
    padding: 0 0 0 19px
    max-width: 375px


//.about
.about
  .container
    align-items: stretch
    justify-content: space-between

  &-content
    padding: 54px 0 74px
    max-width: 494px

  &-img
    width: 590px
    min-width: 590px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 -170px 0 0

    img
      width: 100%
      height: 100%
      object-fit: cover

.about-content__footer
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-between
  margin: 24px 0 0

.links-document
  font-size: 13px
  color: #000
  display: flex
  align-items: center
  &__icon
    display: flex
    align-items: center
    justify-content: center
    width: 38px
    min-width: 38px
    margin: 0 17px 0 0
  &__text
    max-width: 160px
    width: 100%

.slick-slide
  outline: none

.certificates-slider
  width: 100%
  max-width: 367px
  padding: 0 53px

@import "media"
// Всегда в конце
